<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
        
    </head>
    <body>
        <div class="nav_bar">
        <a href="{{url_for('user.dashboard')}}" class = "active">Dashboard</a>
        <a href="{{url_for('user.history')}}">History</a>

            {% if session.get('admin') %}
                <a href="{{url_for('user.admin')}}">Admin Dashboard</a>
            {% endif %}

        <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li id="{{category}}" onclick="this.remove()" style="cursor: pointer;">{{ message }} 
                    <span style="float: right; font-weight: bold;">&times;</span>
                </li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}
        
        <div class = "LISTS">
        <div class="card">
            <h2 id="title">Sent Bills</h2>
                <ul id="billList">
                    {% for x in sent %}
                        <li class = "bill_click" data_bill_id = "{{ x.id }}">{{x.name }} - £{{x.amount}}</li>
                    {% else %}
                        <li>No bills sent yet</li>
                    {% endfor %}
                </ul>
            <button id="add">Add bill</button>
        </div>

        <div class="card2">
            <h2 id="title">My Bills</h2>
                <ul id="billList">
                    {% for x in received %}
                        <li class = "bill_click" data_bill_id = "{{ x.bill_id }}" data_payment_id="{{ x.id }}">{{x.name }} - £{{x.amount_owed}}</li>
                    {% else %}
                        <li>No bills received yet</li>
                    {% endfor %}
                </ul>
        </div>
        </div>

        <div class = "add_modal">
            <div class = "add_content">
                <span class="close">&times;</span>
                <form id = "bill" action="{{ url_for('bills.addBill') }}" method="POST" enctype="multipart/form-data">
                    <label for = "name">Title:</label>
                    <input type = "text" id = "name" name = "name" placeholder="Bill Title" required>


                    <label for = "recipient">Recipients:</label>
                    <input type = "text" id = "recipient" name = "recipient_user" placeholder="Enter Username">
                    
                    <input type="hidden" id="current_logged_user" value="{{ session['user_name'] }}">

                    <p id="recipient_error"></p>
                    <div id="names_added"></div>

                    <label for="amount">Amount (£):</label> 
                    <input type="number" id="amount" name="amount" step="0.01" min="0.01" placeholder="0.00" required>
                    
                    <label for="billImg">Upload Receipt (Optional):</label>
                    <input type="file" id = "bill_image" name="bill_image" accept="image/*">

                    <button id = "add_bill_button" type="submit">Send Bill</button>
                </form>
            </div>
        </div>

        <div id = "bill_modal">
            <div class = "add_content">
                <span class="close_bill">&times;</span>
                <h3>Bill Details</h3>
                <p><strong>Title:</strong>
                <span id="modal_bill_name"></span>
                </p>
                <p><strong>Amount:</strong> £
                <span id="modal_bill_amount"></span>
                </p>
                <p><strong>Recipients:</strong>
                <span id="modal_recipients"></span>
                </p>
                <p><strong>Proof of Bill:</strong>
                <img id="modal_image" src="" alt="Bill Image">
                </p>
                <p><strong>Created:</strong>
                <span id="modal_date"></span>
                </p>



                <form id="bill_payment" action = "{{ url_for('bills.payBill') }}" method="POST" enctype="multipart/form-data">
                    <label for="pay_img">Upload Proof of Payment:</label>
                    <input type="file" id = "pay_img" name="pay_img" accept="image/*" required>

                    <input type="hidden" name="payment_id" id="hidden_payment_id" value="">
                    <button id="pay_bill" type="submit">Pay Bill</button>
                    
                </form>

                <form id="bill_delete" action="{{ url_for('bills.delete_bill') }}" method="POST">
                    <input type="hidden" name="bill_id" id="hidden_delete_bill_id" value="">
                    <button id="del_bill" type="submit">Delete Bill</button>
                </form>
            </div>
        </div>



        <div id="user_data" data-users='{{ USERNAMES|tojson|safe }}' style="display: none;"></div>
        <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    </body>
</html>