<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
        
    </head>
    <body>
        <div class="nav_bar">
        <a href="{{url_for('user.dashboard')}}" class = "active">Dashboard</a>
        <a href="{{url_for('user.history')}}">History</a>
        <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>
        <div class="card">
            <h2 id="title">My Bills</h2>
            <ul id="billList">
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
            <button id="add">Add bill</button>
        </div>

        <div class = "add_modal">
            <div class = "add_content">
                <span class="close">&times;</span>
                <p>Testing</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    </body>
</html>