<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    </head>
    <body>
        <div class="nav_bar">
        <a href="{{url_for('user.dashboard')}}">Dashboard</a>
        <a href="{{url_for('user.history')}}" class = "active">History</a>
        

        {% if session.get('admin') %}
            <a href="{{url_for('user.admin')}}">Admin Dashboard</a>
        {% endif %}

        <a href="{{url_for('user.help')}}">Help</a>
        <a href="{{url_for('auth.logout')}}">Logout</a>
        </div>

        <div class = "LISTS">
        <div class="card">
            <h2 id="title">Bills Collected</h2>
                <ul id="billList">
                    {% for x in collectedbills %}
                        <li class = "bill_click" data_bill_id = "{{ x.id }}">{{x.name }} - £{{x.amount}}</li>
                    {% else %}
                        <li>No bills have been fully paid yet</li>
                    {% endfor %}
                </ul>
        </div>
        <div class="card2">
            <h2 id="title">Bills Paid</h2>
                <ul id="billList">
                    {% for x in paidbills %}
                        <li class = "bill_click" data_bill_id = "{{ x.id }}">{{x.name }} - £{{x.amount}}</li>
                    {% else %}
                        <li>You have paid no bills yet</li>
                    {% endfor %}
                </ul>
        </div>

        
        <div id = "bill_modal">
            <div class = "add_content">
                <span class="close_bill">&times;</span>
                <h3>Bill Details</h3>
                <p><strong>Title:</strong>
                <span id="modal_bill_name"></span>
                </p>
                <p><strong>Amount:</strong> £
                <span id="modal_bill_amount">£/span>
                </p>
                <p><strong>Recipients:</strong>
                <span id="modal_recipients"></span>
                </p>
                <p><strong>Proof of Payment:</strong>
                </p>
                <div id="modal_proofs"></div>

                <form id="bill_delete" action="{{ url_for('bills.delete_saved_bill') }}" method="POST">
                    <input type="hidden" name="bill_id" id="hidden_delete_bill_id" value="">
                    <button id="del_bill" type="submit">Delete Bill</button>
                </form>

            </div>
        </div>

        <div class="card">
                <h2 id="title">Financial Summary</h2>
                <div>
                    <div id = "out">
                        <h3 id>Total Paid Out</h3>
                        <p>£{{ "%.2f"|format(total_out) }}</p>
                    </div>
                    <div id = "in">
                        <h3 id>Total Collected</h3>
                        <p>£{{ "%.2f"|format(total_in) }}</p>
                    </div>
                </div>
            </div>

        
        <script src="{{ url_for('static', filename='history.js') }}"></script>
    </body>
</html>