<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='loginReg.css') }}">
    </head>
    <body>
        <div class="card">
            <h2 id = "title">Login</h2>
            <form action = "#" method = "post">
                <p><input type = "text" name = "nm" placeholder="Enter Username"></p>
                <p><input type = "password" name = "pwd" placeholder="Enter Password"></p>
            <button id = "login" type="submit">Submit</button>
             </form>
        </div>
    </body>
</html>     