<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='loginReg.css') }}">
    </head>
    <body>
        <div class="card">
            <h2 id = "title">Welcome!</h2>
            <form action = "{{url_for('user.go_login')}}" method = "post">
            <button id = "login" type = "submit">Login</button>
            </form>
            <button id = "reg">Register</button>

        </div>
    </body>
</html>