<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='loginReg.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li id="{{category}}" onclick="this.remove()" style="cursor: pointer;">{{ message }} 
                    <span style="float: right; font-weight: bold;">&times;</span>
                </li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}
        <div class="card">
            <h2 id = "title">Register</h2>
            <form action = "#" method = "post">
                <p><input type = "text" name = "nm" maxlength="15" minlength="4" placeholder="Create Username" required></p>
                <p><input type = "password" name = "pwd" maxlength="20" minlength="8" placeholder="Create Password" required></p>
                <p><input type = "email" name = "email" placeholder = "Enter Email" required></p>
            <button id = "login" type="submit">Create Account</button>
            </form>
        </div>
    </body>
</html>