<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='loginReg.css') }}">
    </head>
    <body>
        <div class="card">
            <h2 id = "title">Register</h2>
            <form action = "#" method = "post">
                <p><input type = "text" name = "nm" maxlength="15" minlength="4" placeholder="Create Username"></p>
                <p><input type = "password" name = "pwd" maxlength="20" minlenght="8" placeholder="Create Password"></p>
                <p><input type = "email" name = "email" placeholder = "Enter Email"></p>
            <button id = "login" type="submit">Create Account</button>
            </form>
        </div>
    </body>
</html>